:root {
    --gray: #eee;
    --gary-shade: #ccc;
    --gray-200: rgb(229, 231, 235);
    --light-black-shade: rgb(138, 131, 131);
    --yellow: #f5ba13;
    --yellow-200: #fde68a;
    --yellow-300: rgba(252, 211, 77);
    --yellow-400: #fbbf24;
    --shadow-dark: rgba(0, 0, 0, 0.3);
    --shadow-light: rgb(138, 137, 137);
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    background: var(--light-black-shade);
    padding: 0;
    width: 100%;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button:focus,
a:focus {
    outline: none;
}

header {
    background-color: var(--yellow);
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 var(--shadow-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: var(--white);
    font-family: "McLaren", cursive;
    font-weight: 200;
    font-size: 2rem;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color: var(--gary-shade);
}
