.flexCenter,
.rowCenter,
.colCenter,
.flexBetween,
.colStart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowCenter {
    flex-direction: row;
}

.colCenter,
.colStart {
    flex-direction: column;
}

.colStart {
    align-items: flex-start;
}

.flexBetween {
    justify-content: space-between;
}

.colStart {
    display: flex;
    justify-content: flex-start;
}

.fullHeight {
    height: calc(100vh - 5rem);
}

.transitionIn {
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: ease-in;
    transition-duration: 300ms;
}
